<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKK5csvr3Of0FP_WKGMhRuxVGlNzkPVRY</string>
	<key>GCM_SENDER_ID</key>
	<string>380105473471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zainServices.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zainservices-e4add</string>
	<key>STORAGE_BUCKET</key>
	<string>zainservices-e4add.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380105473471:ios:a1b96888f8f7f12ef4750a</string>
</dict>
</plist>